element.style {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}
body .is-layout-flex {
    display: flex
;
}
body .is-layout-flex {
    display: flex
;
}
.wp-container-core-group-is-layout-4 {
    flex-wrap: nowrap;
    justify-content: space-between;
}
.has-base-background-color {
    background-color: var(--wp--preset--color--base) !important;
}
.is-layout-flex {
    flex-wrap: wrap;
    align-items: center;
}
:root :where(.is-layout-flex) {
    gap: 1.2rem;
}
.wp-block-group {
    box-sizing: border-box;
}
.is-layout-flex {
    flex-wrap: wrap;
    align-items: center;
}
.wp-block-group {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}
.elementor-kit-14 {
    --e-global-color-primary: #6ec1e4;
    --e-global-color-secondary: #54595f;
    --e-global-color-text: #7a7a7a;
    --e-global-color-accent: #61ce70;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
}
.elementor-kit-14 {
    --e-global-color-primary: #6ec1e4;
    --e-global-color-secondary: #54595f;
    --e-global-color-text: #7a7a7a;
    --e-global-color-accent: #61ce70;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
}
body {
    background-color: var(--wp--preset--color--base);
    color: var(--wp--preset--color--contrast);
    font-family: var(--wp--preset--font-family--body);
    font-size: var(--wp--preset--font-size--medium);
    font-style: normal;
    font-weight: 400;
    line-height: 1.55;
    --wp--style--root--padding-top: 0px;
    --wp--style--root--padding-right: var(--wp--preset--spacing--50);
    --wp--style--root--padding-bottom: 0px;
    --wp--style--root--padding-left: var(--wp--preset--spacing--50);
}
body {
    background-color: var(--wp--preset--color--base);
    color: var(--wp--preset--color--contrast);
    font-family: var(--wp--preset--font-family--body);
    font-size: var(--wp--preset--font-size--medium);
    font-style: normal;
    font-weight: 400;
    line-height: 1.55;
    --wp--style--root--padding-top: 0px;
    --wp--style--root--padding-right: var(--wp--preset--spacing--50);
    --wp--style--root--padding-bottom: 0px;
    --wp--style--root--padding-left: var(--wp--preset--spacing--50);
}
:root {
    --woocommerce: #7f54b3;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #7f54b3;
    --wc-primary-text: #fff;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #777335;
    --wc-highligh-text: #fff;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
}
:root {
    --woocommerce: #7f54b3;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #7f54b3;
    --wc-primary-text: #fff;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #777335;
    --wc-highligh-text: #fff;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
}
:root {
    --woocommerce: #7f54b3;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #7f54b3;
    --wc-primary-text: #fff;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #777335;
    --wc-highligh-text: #fff;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
}
:root {
    --wp--style--block-gap: 1.2rem;
}
:root {
    --wp--style--global--content-size: 620px;
    --wp--style--global--wide-size: 1280px;
}
:root {
    --wp--preset--aspect-ratio--square: 1;
    --wp--preset--aspect-ratio--4-3: 4 / 3;
    --wp--preset--aspect-ratio--3-4: 3 / 4;
    --wp--preset--aspect-ratio--3-2: 3 / 2;
    --wp--preset--aspect-ratio--2-3: 2 / 3;
    --wp--preset--aspect-ratio--16-9: 16 / 9;
    --wp--preset--aspect-ratio--9-16: 9 / 16;
    --wp--preset--color--black: #000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #fff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--color--base: #f9f9f9;
    --wp--preset--color--base-2: #fff;
    --wp--preset--color--contrast: #111;
    --wp--preset--color--contrast-2: #636363;
    --wp--preset--color--contrast-3: #a4a4a4;
    --wp--preset--color--accent: #cfcabe;
    --wp--preset--color--accent-2: #c2a990;
    --wp--preset--color--accent-3: #d8613c;
    --wp--preset--color--accent-4: #b1c5a4;
    --wp--preset--color--accent-5: #b5bdbc;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, #9b51e0 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, #7adcb4 0%, #00d082 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, #cf2e2e 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, #eee 0%, #a9b8c3 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, #4aeadc 0%, #9778d1 20%, #cf2aba 40%, #ee2c82 60%, #fb6962 80%, #fef84c 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, #ffceec 0%, #9896f0 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, #fecda5 0%, #fe2d2d 50%, #6b003e 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, #ffcb70 0%, #c751c0 50%, #4158d0 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, #fff5cb 0%, #b6e3d4 50%, #33a7b5 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, #caf880 0%, #71ce7e 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, #020381 0%, #2874fc 100%);
    --wp--preset--gradient--gradient-1: linear-gradient(to bottom, #cfcabe 0%, #f9f9f9 100%);
    --wp--preset--gradient--gradient-2: linear-gradient(to bottom, #c2a990 0%, #f9f9f9 100%);
    --wp--preset--gradient--gradient-3: linear-gradient(to bottom, #d8613c 0%, #f9f9f9 100%);
    --wp--preset--gradient--gradient-4: linear-gradient(to bottom, #b1c5a4 0%, #f9f9f9 100%);
    --wp--preset--gradient--gradient-5: linear-gradient(to bottom, #b5bdbc 0%, #f9f9f9 100%);
    --wp--preset--gradient--gradient-6: linear-gradient(to bottom, #a4a4a4 0%, #f9f9f9 100%);
    --wp--preset--gradient--gradient-7: linear-gradient(to bottom, #cfcabe 50%, #f9f9f9 50%);
    --wp--preset--gradient--gradient-8: linear-gradient(to bottom, #c2a990 50%, #f9f9f9 50%);
    --wp--preset--gradient--gradient-9: linear-gradient(to bottom, #d8613c 50%, #f9f9f9 50%);
/* Show all properties (25 more) */
}
:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color--rgb: 0, 124, 186;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-10--rgb: 0, 107, 161;
    --wp-admin-theme-color-darker-20: #005a87;
    --wp-admin-theme-color-darker-20--rgb: 0, 90, 135;
    --wp-admin-border-width-focus: 2px;
    --wp-block-synced-color: #7a00df;
    --wp-block-synced-color--rgb: 122, 0, 223;
    --wp-bound-block-color: var(--wp-block-synced-color);
}
:root {
    --page-title-display: block;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --woocommerce: #7f54b3;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #7f54b3;
    --wc-primary-text: #fff;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #b3af54;
    --wc-highligh-text: #fff;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
}
:root {
    --woocommerce: #7f54b3;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #7f54b3;
    --wc-primary-text: #fff;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #b3af54;
    --wc-highligh-text: #fff;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
}
:root {
    --woocommerce: #7f54b3;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #7f54b3;
    --wc-primary-text: #fff;
    --wc-secondary: #e9e6ed;
    --wc-secondary-text: #515151;
    --wc-highlight: #b3af54;
    --wc-highligh-text: #fff;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
}
:root {
    --wp--style--block-gap: 1.2rem;
}
:root {
    --wp--style--global--content-size: 620px;
    --wp--style--global--wide-size: 1280px;
}
:root {
    --wp--preset--aspect-ratio--square: 1;
    --wp--preset--aspect-ratio--4-3: 4 / 3;
    --wp--preset--aspect-ratio--3-4: 3 / 4;
    --wp--preset--aspect-ratio--3-2: 3 / 2;
    --wp--preset--aspect-ratio--2-3: 2 / 3;
    --wp--preset--aspect-ratio--16-9: 16 / 9;
    --wp--preset--aspect-ratio--9-16: 9 / 16;
    --wp--preset--color--black: #000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #fff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--color--base: #f9f9f9;
    --wp--preset--color--base-2: #fff;
    --wp--preset--color--contrast: #111;
    --wp--preset--color--contrast-2: #636363;
    --wp--preset--color--contrast-3: #a4a4a4;
    --wp--preset--color--accent: #cfcabe;
    --wp--preset--color--accent-2: #c2a990;
    --wp--preset--color--accent-3: #d8613c;
    --wp--preset--color--accent-4: #b1c5a4;
    --wp--preset--color--accent-5: #b5bdbc;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, #9b51e0 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, #7adcb4 0%, #00d082 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, #cf2e2e 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, #eee 0%, #a9b8c3 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, #4aeadc 0%, #9778d1 20%, #cf2aba 40%, #ee2c82 60%, #fb6962 80%, #fef84c 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, #ffceec 0%, #9896f0 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, #fecda5 0%, #fe2d2d 50%, #6b003e 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, #ffcb70 0%, #c751c0 50%, #4158d0 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, #fff5cb 0%, #b6e3d4 50%, #33a7b5 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, #caf880 0%, #71ce7e 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, #020381 0%, #2874fc 100%);
    --wp--preset--gradient--gradient-1: linear-gradient(to bottom, #cfcabe 0%, #f9f9f9 100%);
    --wp--preset--gradient--gradient-2: linear-gradient(to bottom, #c2a990 0%, #f9f9f9 100%);
    --wp--preset--gradient--gradient-3: linear-gradient(to bottom, #d8613c 0%, #f9f9f9 100%);
    --wp--preset--gradient--gradient-4: linear-gradient(to bottom, #b1c5a4 0%, #f9f9f9 100%);
    --wp--preset--gradient--gradient-5: linear-gradient(to bottom, #b5bdbc 0%, #f9f9f9 100%);
    --wp--preset--gradient--gradient-6: linear-gradient(to bottom, #a4a4a4 0%, #f9f9f9 100%);
    --wp--preset--gradient--gradient-7: linear-gradient(to bottom, #cfcabe 50%, #f9f9f9 50%);
    --wp--preset--gradient--gradient-8: linear-gradient(to bottom, #c2a990 50%, #f9f9f9 50%);
    --wp--preset--gradient--gradient-9: linear-gradient(to bottom, #d8613c 50%, #f9f9f9 50%);
/* Show all properties (24 more) */
}
:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}
:root {
    --wp-admin-theme-color: #007cba;
    --wp-admin-theme-color--rgb: 0, 124, 186;
    --wp-admin-theme-color-darker-10: #006ba1;
    --wp-admin-theme-color-darker-10--rgb: 0, 107, 161;
    --wp-admin-theme-color-darker-20: #005a87;
    --wp-admin-theme-color-darker-20--rgb: 0, 90, 135;
    --wp-admin-border-width-focus: 2px;
    --wp-block-synced-color: #7a00df;
    --wp-block-synced-color--rgb: 122, 0, 223;
    --wp-bound-block-color: var(--wp-block-synced-color);
}
:root {
    --page-title-display: block;
}
:root {
    --drawer-width: 480px;
    --neg-drawer-width: calc(var(--drawer-width)* -1);
}
:root {
    --drawer-width: 480px;
    --neg-drawer-width: calc(var(--drawer-width)* -1);
}